.cart-no {
  position: absolute;
  min-height: 25px;
  min-width: 25px;
  border-radius: 50%;
  font-size: smaller;
  background-color: #9457d4;
  color: white;
  text-align: center;
  top: -12px;
  right: 10px;
}
.my-header {
  background-color: #123d68;
  color:black;
}

.header-link{
    color:aliceblue;
}
.header-button{
    color:azure;
}
